<div class="container">
    <div class="content">
        <div class="boxTitle">
            <h1>Linguagens e Ferramentas</h1>
        </div>
        <div class="iconBox">

            <app-icon-box 
                estilo="html"
                urlLogo="https://img.freepik.com/icones-gratis/html-5_318-698168.jpg"
            ></app-icon-box>

            <app-icon-box
                estilo="css"
                urlLogo="../../../../assets/images/logo/css-3.png"
            ></app-icon-box>

            <app-icon-box
            estilo="javascript"
            urlLogo="../../../../assets/images/logo/js.png">
            </app-icon-box>

            <app-icon-box
                estilo="typescript"
                urlLogo="../../../../assets/images/logo/typescript.png"
            ></app-icon-box>

            <app-icon-box
                estilo="figma"
                urlLogo="../../../../assets/images/logo/figma.png"
            ></app-icon-box>

            <app-icon-box
                estilo="php"
                urlLogo="../../../../assets/images/logo/php.png"
            ></app-icon-box>

            <app-icon-box
                estilo="git"
                urlLogo="../../../../assets/images/logo/git.png"
            ></app-icon-box>

            <app-icon-box
                estilo="github"
                urlLogo="../../../../assets/images/logo/code.png"
            ></app-icon-box>

            <app-icon-box
                estilo="vscode"
                urlLogo="../../../../assets/images/logo/vs.png"
            ></app-icon-box>
        </div>
    </div>
</div>