<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="fecharModal()">&times;</span>
      <div class="card_img">
        <div class="photo">
          <img src="https://media.licdn.com/dms/image/C4D03AQHvZ8OlOtz_0A/profile-displayphoto-shrink_400_400/0/1653399654646?e=1703721600&v=beta&t=wnibd7gt7ED8boKNpG1gURMPywVyBLthKxZMxebfgBo" alt="foto">
        </div>
      </div>
      <div class="card-about">
        <h1>Yuri Moreira Cordeir<span>(ele/dele)</span></h1>
        <p>🚀 Apaixonado por tecnologia e em constante busca por conhecimento. Minha jornada está apenas começando, mas estou determinado a mergulhar de cabeça no mundo do desenvolvimento . Atualmente focado em aprender, estou animado para adquirir as habilidades necessárias. Valorizo a criatividade, a colaboração e a dedicação para superar desafios.🌐💡</p>
        <hr>
        <h1>Formação Acadêmica</h1>
        <h3>Universidade Metodista de São Paulo (UMESP)</h3>
        <p>Tecnólogo | Jan,2021 - Dez,2023</p>
        <p>Analise e desenvolvimento de sistemas</p>
        <hr>
      </div>
      <div class="card-contact">
        <h1>Social Accounts</h1>
        <div class="btn-goup">
          <div class="icon github" (click)="openGithub()">
            <img src="assets/images/icon-svg/github.svg" alt="logo github" srcset="">
            <span>/YuriOff</span>
          </div>
          <div class="icon linkedin" (click)="openLinkedin()">
            <img src="assets/images/icon-svg/linkedin.svg" alt="logo linkedin" srcset="">
            <span>/yuri-moreira</span>
          </div>
          <div class="icon twitter" (click)="openTwitter()">
            <img src="assets/images/icon-svg/twitter.svg" alt="logo twitter" srcset="">
            <span>@yuh_1985</span>
          </div>
          <div class="icon youtube" (click)="openYoutube()">
            <img src="assets/images/icon-svg/youtube.svg" alt="logo youtube" srcset="">
            <span>@yurimoreira7366</span>
          </div>
          <div class="icon discord" (click)="openDiscord()">
            <img src="assets/images/icon-svg/discord.svg" alt="logo discord" srcset="">
            <span>@cutt.htll</span>
          </div>
          <div class="icon gmail" (click)="openGmail()">
            <img src="assets/images/icon-svg/gmail.svg" alt="logo gmail" srcset="">
            <span>yuri.moreira803@gmail.com</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  