/* You can add global styles to this file, and also import other style files */
 body{
    background-color: #ededed;
 }
 html, body, span, p, form, img, a, ul, ol, li, table, tr, td, div{
   margin: 0;
   padding: 0; 
   border:none; 
   outline:none;
   list-style-type:none;
}