<div class="container">
    <div class="boxTitle">
        <h1>Formulario de Contato</h1>
    </div>
    <div class="content">
        <form action="https://formsubmit.co/yuri.moreira803@gmail.com" 
                method="post"
                target="blank">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" required>
    
            <label for="email" >E-mail</label>
            <input type="email" name="email" id="email">

            <label for="mensagem" >Mensagem</label>
            <textarea name="mensagem" id="mensagem"></textarea>

            <button type="submit">Enviar</button>

        </form>
    </div>
</div>